.lista{
    padding-top: 50px;
    padding-inline: 200px;
    display: grid;
    gap: 12px;
}

.items{
    display: flex;
    gap: 12px;
    width: 627px;
    padding-inline: 12px;
    padding-block: 8px;
    background-color: var( --background-secondary);
    align-items: center;
    border-radius: 12px;

    .item{
        display: flex;
        gap: 12px;
        align-items: center;
        p{
            width: 531px;
        }
    }
}

.btn-delete{
    width: 32px;
    cursor: pointer;
    border: none;
    background-color: var(--background-secondary);
}

@media ( width < 390px){
    
}